{% extends 'base.html' %}
{% load static %}
{% block title %} Create a new rent {% endblock %}


{% block content %}

<style>
    .errorlist {
        color: red;
        font-size: small;
    }
</style>

<div class="flex flex-col justify-center items-center gap-4 p-8">
    <h1 class="text-2xl">Create a new rent</h1>


    <form method="POST" class="form-control max-w-xs w-full  flex flex-col gap-2">
        {% csrf_token %}

        {{ form.as_p }}
        <button class="btn">Create</button>
    </form>
</div>

{% endblock %}