{% extends 'base.html' %}
{% load static %}
{% block title %} Car Info {% endblock %}


{% block content %}

<div class="min-h-screen flex flex-col gap-6 justify-center items-center">
    <h1 class="text-3xl font-semibold">Car Info</h1>

    <div class="flex flex-col gap-4 p-6 card shadow-2xl w-[400px]">

        <div class="flex flex-col gap-2">
            <p class="uppercase font-medium">Model: <span class="font-normal capitalize">{{ car.model }}</span></p>
            <p class="uppercase font-medium">Brand: <span class="font-normal capitalize">{{ car.brand }}</span></p>
            <p class="uppercase font-medium">Color: <span class="font-normal capitalize">{{ car.color }}</span></p>
            <p class="uppercase font-medium">Plate: <span class="font-normal capitalize">{{ car.plate }}</span></p>
            <p class="uppercase font-medium">Year: <span class="font-normal capitalize">{{ car.year }}</span></p>
            <p class="uppercase font-medium">Chassis Type: <span class="font-normal capitalize">
                    {{ car.chassis_type}}</span></p>
        </div>

        <div>
            <a href="{%url 'edit_car_by_id' car_id=car.id%}" class="btn gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#e0e0e0" viewBox="0 0 256 256">
                    <path
                        d="M227.31,73.37,182.63,28.68a16,16,0,0,0-22.63,0L36.69,152A15.86,15.86,0,0,0,32,163.31V208a16,16,0,0,0,16,16H92.69A15.86,15.86,0,0,0,104,219.31L227.31,96a16,16,0,0,0,0-22.63ZM92.69,208H48V163.31l88-88L180.69,120ZM192,108.68,147.31,64l24-24L216,84.68Z">
                    </path>
                </svg>
                Edit
            </a>
            <a href="{%url 'delete_car_by_id' car_id=car.id %}" class="btn gap-2 btn-error text-white" title="Remove">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#e0e0e0" viewBox="0 0 256 256">
                    <path
                        d="M216,48H40a8,8,0,0,0,0,16h8V208a16,16,0,0,0,16,16H192a16,16,0,0,0,16-16V64h8a8,8,0,0,0,0-16ZM192,208H64V64H192ZM80,24a8,8,0,0,1,8-8h80a8,8,0,0,1,0,16H88A8,8,0,0,1,80,24Z">
                    </path>
                </svg>
                Remove
            </a>
        </div>
    </div>
</div>

{% endblock %}