{% extends 'base.html' %}
{% load static %}
{% block title %} Insert a new car {% endblock %}


{% block content %}

<style>
    .errorlist {
        color: red;
        font-size: small;
    }
</style>

<div class="flex flex-col justify-center items-center gap-4 p-8">
    <h1 class="text-2xl">Insert a new car</h1>


    <form method="POST" class="form-control max-w-xs w-full  flex flex-col gap-2">
        {% csrf_token %}

        {% for field in form %}
        <div class="form-group {% if field.errors %}has-error{% endif %}">
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
            <ul class="errorlist">
                {% for error in field.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% endfor %}
        <button class="btn">Create</button>
    </form>
</div>

{% endblock %}