<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{{ car.model }}</title>
</head>

<body>
    <p>Model: {{ car.model }}</p>
    <p>Brand: {{ car.brand }}</p>
    <p>Color: {{ car.color }}</p>
    <p>Plate: {{ car.plate }}</p>
    <p>Chassis Type: {{ car.chassis_type }}</p>
</body>

</html>