{% extends 'base.html' %}
{% load static %}
{% block title %} List all cars {% endblock %}


{% block content %}

<div class="flex flex-col gap-4 p-8">
    <h1 class="text-2xl">Car List</h1>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}

    <div class="overflow-x-auto">
        <table class="table table-zebra w-full shadow">
            <thead>
                <tr>
                    <th>Model</th>
                    <th>Brand</th>
                    <th>Year</th>
                    <th>Color</th>
                    <th>Plate</th>
                    <th>Status</th>
                    <th>Branch CNPJ</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for car in cars %}
                <tr class="hover">
                    <td class="capitalize">{{ car.model }}</td>
                    <td class="capitalize">{{ car.brand }}</td>
                    <td class="capitalize">{{ car.year }}</td>
                    <td class="capitalize">{{ car.color }}</td>
                    <td class="capitalize">{{ car.plate }}</td>
                    <td class="capitalize">{{ car.get_status_display }}</td>
                    <td class="capitalize">{{ car.branch.cnpj }}</td>
                    <td>
                        <div>
                            <div class="tooltip" data-tip="Details">
                                <a href="{%url 'get_car_by_id' car_id=car.id %}" class="btn btn-square btn-sm">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#e0e0e0"
                                        viewBox="0 0 256 256">
                                        <path
                                            d="M247.31,124.76c-.35-.79-8.82-19.58-27.65-38.41C194.57,61.26,162.88,48,128,48S61.43,61.26,36.34,86.35C17.51,105.18,9,124,8.69,124.76a8,8,0,0,0,0,6.5c.35.79,8.82,19.57,27.65,38.4C61.43,194.74,93.12,208,128,208s66.57-13.26,91.66-38.34c18.83-18.83,27.3-37.61,27.65-38.4A8,8,0,0,0,247.31,124.76ZM128,192c-30.78,0-57.67-11.19-79.93-33.25A133.47,133.47,0,0,1,25,128,133.33,133.33,0,0,1,48.07,97.25C70.33,75.19,97.22,64,128,64s57.67,11.19,79.93,33.25A133.46,133.46,0,0,1,231.05,128C223.84,141.46,192.43,192,128,192Zm0-112a48,48,0,1,0,48,48A48.05,48.05,0,0,0,128,80Zm0,80a32,32,0,1,1,32-32A32,32,0,0,1,128,160Z">
                                        </path>
                                    </svg>
                                </a>
                            </div>
                            <div class="tooltip" data-tip="Remove">
                                <a href="{%url 'delete_car_by_id' car_id=car.id %}"
                                    class="btn btn-square btn-sm btn-error" title="Remove">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#e0e0e0"
                                        viewBox="0 0 256 256">
                                        <path
                                            d="M216,48H40a8,8,0,0,0,0,16h8V208a16,16,0,0,0,16,16H192a16,16,0,0,0,16-16V64h8a8,8,0,0,0,0-16ZM192,208H64V64H192ZM80,24a8,8,0,0,1,8-8h80a8,8,0,0,1,0,16H88A8,8,0,0,1,80,24Z">
                                        </path>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}